
.debug{
    border: 1px solid white;
    background-color: blue;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.bg-red{
    background-color: red;
}
.bg-green{
    border: 1px solid blue;
    background-color: green;
}
h1, h2{
    color: black;
}
.bg-green p{
    color: white;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}